        <ul id="mainnav">
            <li>
                <a href="/蘅芜/">
                <span class="icon"> <i aria-hidden="true" class="icon-pencil"></i></span>
                <span> 蘅芜 </span>
            </a>
            </li>
            <li>
            <a href="/aaaa/">
                <span class="icon"> <i aria-hidden="true" class="icon-quill"></i></span>
                <span> aaaa </span>
            </a>
            </li>
            <li>
            <a href="/bbbb/">
                <span class="icon"> <i aria-hidden="true" class="icon-leaf"></i></span>
                <span> bbbb </span>
            </a>
            </li>
            <li>
            <a href="/dddd">
                <span class="icon"> <i aria-hidden="true" class="icon-heart"></i></span>
                <span> dddd </span>
            </a>
            </li>
        </ul>
